<div class="premag-header background-color-c14" id="premag-header">
    <div class="container">
        <nav class="navbar fixed-top background-color-c14">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1"><a href="home"><img src="../../../assets/images/logo-premag-2.png" alt="Logo da Premag"></a></span>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="collapse()">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse justify-content-end" [ngClass]="{'collapse':menucollapse}" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link color-c3" routerLink="/home" routerLinkActive="is-active">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link color-c3" routerLink="/fabrica" routerLinkActive="is-active">A Fábrica</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link color-c3" routerLink="/produtos-e-servicos" routerLinkActive="is-active">Produtos e Serviços</a>
                  </li>
                  <li class="nav-item"> 
                    <a class="nav-link color-c3" routerLink="/principais-obras" routerLinkActive="is-active">Principais Obras</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link color-c3" routerLink="/tecnologia" routerLinkActive="is-active">Tecnologia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link color-c3" routerLink="/contato" routerLinkActive="is-active">Contato</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </div>
</div>
