$max_espacamento: 200;
$max_medida: 1140;
$offset: 4;
$unit_px: 'px';

@mixin margin($className, $styleName) {
  $i: 0;
  @while $i <= $max_espacamento {
    #{$className + $i} { 
      #{$styleName}: #{$i + $unit_px};
    }
    $i: $i + $offset;
  }
}
@mixin margin-sm($className, $styleName) {
  $i: 0;
  
  @while $i <= $max_espacamento {
    #{$className + $i} { 
      #{$styleName}: #{$i + $unit_px};
    }
    $i: $i + $offset;
  }
}

@mixin padding($className, $styleName) {
    $i: 0;
    @while $i <= $max_espacamento {
      #{$className + $i} { 
        #{$styleName}: #{$i + $unit_px};
      }
      $i: $i + $offset;
    }
  }
  @mixin width($className, $styleName) {
    $i: 0;
    @while $i <= $max_medida {
      #{$className + $styleName + '-' + $i} { 
        #{$styleName}: #{$i + $unit_px};
      }
      $i: $i + $offset;
    }
  }
  @mixin height($className, $styleName) {
    $i: 0;
    @while $i <= $max_medida {
      #{$className + $styleName + '-' + $i} { 
        #{$styleName}: #{$i + $unit_px};
      }
      $i: $i + $offset;
    }
  }