$max_espacamento: 200;
$max_medida: 1140;
$offset: 4;
$unit_px: 'px';

@mixin margin($className, $styleName) {
  $i: 0;
  @while $i <= $max_espacamento {
    #{$className + $i} { 
      #{$styleName}: #{$i + $unit_px};
    }
    $i: $i + $offset;
  }
}
@mixin margin-sm($className, $styleName) {
  $i: 0;
  
  @while $i <= $max_espacamento {
    $sm: round(calc(576*$i/1440));
    #{$className + 'sm-' + $i} { 
      #{$styleName}: #{$sm + $unit_px};
    }
    $i: $i + $offset;
  }
}
@mixin margin-md($className, $styleName) {
  $i: 0;
  
  @while $i <= $max_espacamento {
    $md: round(calc(768*$i/1440));
    #{$className + 'md-' + $i} { 
      #{$styleName}: #{$md + $unit_px};
    }
    $i: $i + $offset;
  }
}
@mixin margin-lg($className, $styleName) {
  $i: 0;
  
  @while $i <= $max_espacamento {
    $lg: round(calc(992*$i/1440));
    #{$className + 'lg-' + $i} { 
      #{$styleName}: #{$lg + $unit_px};
    }
    $i: $i + $offset;
  }
}
@mixin margin-xl($className, $styleName) {
  $i: 0;
  
  @while $i <= $max_espacamento {
    $xl: round(calc(1200*$i/1440));
    #{$className + 'xl-' + $i} { 
      #{$styleName}: #{$xl + $unit_px};
    }
    $i: $i + $offset;
  }
}
@mixin margin($className, $screen, $styleName, $size) {
  
    #{$className + $screen + '-' + $styleName + '-' + $size} { 
      #{$styleName}: #{$size + $unit_px};
    }

}

@mixin padding($className, $screen, $styleName, $size) {

  #{$className + $screen + '-' + $styleName + '-' + $size} { 
    #{$styleName}: #{$size + $unit_px};
  }
  
}
  @mixin width($className, $styleName) {
    $i: 0;
    @while $i <= $max_medida {
      #{$className + $styleName + '-' + $i} { 
        #{$styleName}: #{$i + $unit_px};
      }
      $i: $i + $offset;
    }
  }
  @mixin height($className, $styleName) {
    $i: 0;
    @while $i <= $max_medida {
      #{$className + $styleName + '-' + $i} { 
        #{$styleName}: #{$i + $unit_px};
      }
      $i: $i + $offset;
    }
  }