        <div class="card premag-margin-bottom-20">
            <img class="card-img-top" src="{{obras.imagem}}" alt="{{obras.alt}}">
            <div class="card-body premag-padding-top-40 premag-padding-bottom-40">
                <h5 class="card-title premag-font-14 premag-margin-bottom-20 color-c11"> {{obras.titulo}}</h5>
                <p class="card-text premag-font-14">
                    <span class="premag-font-weight-600">LOCAL:</span> {{obras.local}}<br>
                    <span class="premag-font-weight-600">ANO:</span> {{obras.ano}}<br>
                    <span class="premag-font-weight-600">COMPRIMENTO:</span> {{obras.comprimento}}<br>
                    <span class="premag-font-weight-600">LARGURA:</span> {{obras.largura}}<br>
                    <span class="premag-font-weight-600">CLIENTE FINAL:</span> {{obras.cliente}}</p>
            </div>
        </div>
    
