.item {
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
  }
  .botoes-controle {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 8px;
  }
  
  .botoes-controle button {
    background: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    width: 12px;
  }
  
  .botoes-controle button.ativo {
    background: #ff0000;
    cursor: default;
  }