<app-header></app-header>
<div class="products premag-xl-margin-top-48" id="products">
    <div class="premag-product-banner">
        <div class="container">
            <p class="premag-font-18 premag-color-01 premag-primary-font"></p>    
        </div>
    </div>
    <div class="premag-product-content background-color-c12 d-flex flex-row align-items-start">
        <h1 class="premag-page-title color-c11 text-uppercase premag-secondary-font d-flex justify-content-start align-items-center">Produtos e Serviços</h1>
        <div class="container premag-product-container">

            <div class="container premag-product-item ">
                <app-produto *ngFor="let produto of itensProdutos" [produtos]="produto"></app-produto>                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>