<div class="obras premag-xl-margin-top-48" id="obras">
    <div class="premag-obras-banner">
        <div class="container">
            <p class="premag-font-18 premag-color-01 premag-primary-font"></p>    
        </div>
    </div>
    <div class="premag-obras-content background-color-c12 d-flex flex-row align-items-start">
        <h1 class="premag-page-title color-c11 text-uppercase premag-secondary-font d-flex justify-content-start align-items-center">Principais Obras</h1>
        <div class="container premag-obras-container premag-padding-top-80 premag-padding-bottom-80">
            <h2 class="premag-page-subtitle premag-secondary-font premag-font-48 text-uppercase color-c2">Principais Obras</h2>
            <div class="premag-deco-retangulo-100 background-premag-color-05 premag-height-1x"></div>
            <div class="row premag-padding-top-40">
                <app-card-obras *ngFor="let itensObras of itensObras" [obras]="itensObras" class="col-lg-4 col-xs-12"></app-card-obras>
            </div>
        </div>
    </div>
    <div class="premag-clientes-content d-flex flex-row align-items-start">
        <div class="container premag-clientes-container premag-padding-top-80 premag-padding-bottom-80">
            <h2 class="premag-page-subtitle premag-secondary-font premag-font-48 text-uppercase color-c6">Principais Clientes</h2>
            <div class="premag-deco-retangulo-100 background-premag-color-05 premag-height-1x"></div>

                <app-carousel></app-carousel>
        </div>
    </div>
</div>
